{% extends "polls/base.html" %}

{% block content %}

<div class="container card" style="margin-top: 50;">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="card-header">
        <h1>{{ question.question_text }}</h1>
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <div class="card-body">
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>

    <hr/>
    
    <h3>Generate report</h3>
    <a href="{% url 'polls:report' question.id %}">View report</a>
    <p>
    <a href="{% url 'polls:pdfView' question.id %}">Get pdf</a>
    </div>
</div>

{% endblock content %}